@page "/signup"

<PageTitle>Sign up to event</PageTitle>

<h1>Sign up to event</h1>

<br>
<br>
<br>

<div class="list-group">
	<a href="/signup#" class="list-group-item list-group-item-action">First event</a>
	<a href="/signup#" class="list-group-item list-group-item-action">Second event</a>
	<a href="/signup#" class="list-group-item list-group-item-action">Third event</a>
</div>