@page "/test"
@using POC_event_manager.Data.DataAccess.Context;



<h1>Initialized event, @anEvent.Name</h1>
<h1>Initialized event, @anEvent.Name</h1>
<h1>Initialized event, @anEvent.Name</h1>
<button @onclick="test_func">Click Me</button>

@*<button class="btn btn-primary" @onclick="ChangeName">Hi</button>*@



@code{
    Event anEvent = new Event("this is a name", "this is a description", "this is a location", "this is a organizer", "this is organizer info", "this is a discordlink", new List<Participant>());
    Event retrived_event;
    Event Changed_event;

    void test_func()
    {
        using (var context = new POC_DB_Context())
        {
            // Create a new event
            context.Events.Add(anEvent);
            context.SaveChanges();

            // Read the event from the database
            retrived_event = context.Events.FirstOrDefault(e => e.EventId == anEvent.EventId);
            Console.WriteLine($"Retrieved Event: {retrived_event.Name}");

            // Update the event
            retrived_event.Name = "Updated Event";
            context.SaveChanges();

            Changed_event = context.Events.FirstOrDefault(e => e.EventId == anEvent.EventId);

            // Delete the event
            context.Events.Remove(retrived_event);
            context.SaveChanges();
        }
    }

}

